.footer{
    width: 1600px;
    height: 432px;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    display: inline-flex;
}

.footer>div{
    display: inline-flex;
    justify-content: space-between;
    padding-top: 124px;
}
.footer>.conteiner>.copy>ul>li>p{
    font-weight: 300;
    font-size: 1.8;
    line-height: 1.75;
    color: #FFFFFF;
    padding-top: 30px;
    width: 391px;
}
.footer>.conteiner>div>ul>li:first-child{
    font-weight: 700;
    font-size: 2rem;
    line-height: 3;
    color:#FFFFFF;
}
a{
    font-weight: 300;
    font-size: 18px;
    line-height: 2.11;
    color: #FFFFFF;
    
}

