@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');
@import url(hero.css);
@import url(ourservice.css);
@import url(provides.css);
@import url(checkout.css);
html{
    font-size: 10px;
}

body{
    font-family: 'Mulish', sans-serif;
}
.conteiner{
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
}