@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');
@import url(hero.css);
@import url(ourservice.css);
@import url(provides.css);
@import url(mobileApps.css);
@import url(customer.css);
@import url(checkout.css);
@import url(footer.css);
html{
    font-size: 10px;
}

body{
    font-family: 'Mulish', sans-serif;
}
.conteiner{
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
}
.button1{
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.button1>.button2{
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 3.33;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #458FF6;
}