.mobileApps>.conteiner>ul>li>.content-text>h2{
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 1.5;
    color: #000000;
    padding-bottom: 59px;
    width: 254px;
}
.mobileApps>.conteiner>ul>li>.content-text>p{
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.66;
    color: #7D7987;
    padding-bottom: 37px;
    width: 420px;
}
.content-text{
    width: 450px;
    text-align: left;

}
.button5{
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    width: 200px;
}    
.button6{
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 3.33;
    text-decoration: none;
    color: #458FF6;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 43px;
}    
.mobileApps>.conteiner>img{
    width: 650px;
    position: absolute;
}
.mobileApps ul{
    display: flex;
    gap: 100px;

}
.mobileApps{
    margin-top: 220px;
}