
.ourService>.conteiner>h2{
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 1.55;
    color: #000000;
    text-align: center;
    margin-bottom: 61px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 192px ;
}
.ourService>.conteiner>p{
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.66;
    text-align: center;
    width: 952px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    
}
.ourService>.conteiner>ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: stretch;
    padding-bottom: 69px;
}
.ourService>.conteiner>ul>li{
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    width: 350px;
    height: 350px;
}

.ourService>.conteiner>ul>li>img{
    position: absolute;
    padding-top: 47px;
    padding-left: 38px ;
}
.ourService>.conteiner>ul>li>h3{
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.33;
    color: #000000;
    padding-left: 38px;
    text-align: left;
    margin-top: 166px;
}
.ourService>.conteiner>ul>li>p{
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.07;
    color: #7D7987;
    padding-left: 38px;
    text-align: left;
}